<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        	<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
      		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation" href="#">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarsExample04">
        		<ul class="navbar-nav mr-auto">
          			<li class="nav-item active">
            			<a class="nav-link" th:href="@{/sensor}">Sensors <span class="sr-only">(current)</span></a>
          			</li>
					<li class="nav-item">
    					<a class="nav-link" th:href="@{/batch}">Batches</a>
  					</li>
					<li class="nav-item">
    					<a class="nav-link" th:href="@{/style}">Styles</a>
  					</li>
					<li class="nav-item">
    					<a class="nav-link" th:href="@{/process}">Processes</a>
  					</li>
					<li class="nav-item">
    					<a class="nav-link" th:href="@{/measureType}">Measure Types</a>
  					</li>
        		</ul>
      		</div>
    	</nav>        
        
        
        <div class="jumbotron">
            <div class="row text-center">
                <div class="row">
                    <h2>Brewery Application</h2>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/Logo.png" width="30%"
                     th:src="@{/images/Logo.png}" />
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script th:src="@{/webjars/highcharts/8.0.0/highcharts.js}"></script>
<script th:src="@{/webjars/highcharts/8.0.0/highcharts-more.js}"></script>
<script th:src="@{/webjars/highcharts/8.0.0/highcharts-3d.js}"></script>
<script th:src="@{/webjars/highcharts/8.0.0/modules/exporting.js}"></script>
<script th:src="@{/webjars/highcharts/8.0.0/modules/export-data.js}"></script>
<script th:src="@{/webjars/highcharts/8.0.0/modules/accessibility.js}"></script>

</body>
</html>