<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Batches</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
	<h2>Batches</h2>
    <div th:if="${#lists.isEmpty(batches)}">
    	<a th:href="@{/batch/add}" class="btn btn-outline-dark btn-lg">Add Batch
			<img th:src="@{/images/add-24px.svg}"/>
    	</a>
    </div>
    <div th:if="${not #lists.isEmpty(batches)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Active</th>
                <th>Name</th>
                <th>Style</th>
                <th class="d-none d-lg-block">Description</th>                
                <th>Start Time</th>
                <th class="d-none d-lg-block">Synched</th>
                <th></th>
                <th></th>
                <th></th>
                <th>
					<a th:href="@{/batch/add}" class="btn btn-outline-dark">
						<img th:src="@{/images/add-24px.svg}"/>
					</a>
                </th>
            </tr>
            <tr th:each="batch : ${batches}">
                <td th:text="${batch.id}">Id</td>
                <td th:text="${batch.active}">Active</td>
                <td th:text="${batch.name}">Name</td>
                <td th:text="${batch.style.name}">Style</td>
                <td th:text="${batch.description}" class="d-none d-lg-block">Description</td>
                <td th:text="${batch.startTime}">Start Time</td>
                <td th:text="${batch.dbSynch}" class="d-none d-lg-block">Synched</td>
                <td><a th:href="${'/batch/chart/' + batch.id}" class="btn btn-default" title="Chart" rel="tooltip">
					<img th:src="@{/images/show_chart-24px.svg}"/>
                </a></td>
                <td><a th:href="${'/measurement/batch/' + batch.id}" class="btn btn-default" title="Measurements" rel="tooltip">
					<img th:src="@{/images/speed-24px.svg}"/>
                </a></td>
                <td><a th:href="${'/batch/edit/' + batch.id}" class="btn btn-default" title="Edit" rel="tooltip">
					<img th:src="@{/images/edit-24px.svg}"/>
                </a></td>
				<td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${batch.id }" class="btn btn-default" title="Delete" rel="tooltip">
					<img th:src="@{/images/delete_forever-24px.svg}"/>
				</a></td>    

				<td>
					<div class="modal modal-warning fade in" th:id="modal-warning+${batch.id }">
				 		<div class="modal-dialog">
				 			<div class="modal-content">
				 				<div class="modal-header">
				 					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				 					<span aria-hidden="true">×</span></button>
				 					<h5 class="modal-title">Delete Duplicates</h5>
				 				</div>
				 				<div class="modal-body">
				 					<h3>
				 						<p th:text="'All measurements for batch ' + ${batch.name} + ' will also be deleted.'"></p> 
				 						<p th:text="'Delete batch ' + ${batch.id} + '?'"></p>
				 					</h3>
				 				</div>
				 				<div class="modal-footer">
				 					<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
				 					<a type="button" class="btn btn-danger" th:href="${'/batch/delete/' + batch.id}"><i class="fa fa-check"></i>&nbsp;Yes</a>
				 				</div>
							</div>
				 		</div>
				 	</div>
				</td>
            </tr>
        </table>
        
    
        
    </div>
</div>
</body>
</html>