<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Brewery Application</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

	<figure class="highcharts-figure">
	    <div id="container"></div>
	</figure>


<script th:inline="javascript">
/*<![CDATA[*/

var chartAttrib = /*[[${chartAttributes}]]*/;
var batchData = /*[[${batch}]]*/;

Highcharts.chart('container', {
    chart: {
        type: 'spline'
    },
    title: {
        text: batchData.name
    },
    subtitle: {
        text: batchData.description
    },
    xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
            month: '%e. %b',
            year: '%b'
        },
        title: {
            text: 'Date'
        }
    },
    yAxis: {
        title: {
            text: batchData.style.name
        },
        min: 0
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
    },

    plotOptions: {
        series: {
            marker: {
                enabled: true
            }
        }
    },

    colors: ['#6CF', '#39F', '#06C', '#036', '#000'],

    // Define the data points. All series have a dummy year
    // of 1970/71 in order to be compared on the same x axis. Note
    // that in JavaScript, months start at 0 for January, 1 for February etc.
    series: chartAttrib.seriesInfos,

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                plotOptions: {
                    series: {
                        marker: {
                            radius: 2.5
                        }
                    }
                }
            }
        }]
    }
});


    /*]]>*/
</script>

</body>
</html>