<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Brewery Application</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>


   	<div align="center">
        <h2>Spring Boot Highcharts Example</h2>
    </div>


	<figure class="highcharts-figure">
	    <div id="container"></div>
	    <p class="highcharts-description">
	        Chart showing use of multiple panes and axis plot bands with a gauge
	        series. The chart is updated dynamically every few seconds.
	    </p>
	</figure>
	    
	<div class="row" style="margin-bottom:30px">
	    <div class="col-md-6" style="margin-top:20px">
	        <div id="salesByType" style="width:100%; height:400px;"></div>
	    </div>
	    <div class="col-md-6" style="margin-top:20px">
	        <div id="salesByRegion" style="width:100%; height:400px;"></div>
	    </div>
	</div>




<script th:inline="javascript">
/*<![CDATA[*/
    $(function () { 
        Highcharts.setOptions({
            lang: {
                decimalPoint: '.',
                thousandsSep: ','
            }
        });
 
        drawSalesByTypeChart();
        drawSalesByRegionChart();
    });
     
     
    function drawSalesByRegionChart() {
        var salesByRegionChart = Highcharts.chart('salesByRegion', {
            chart: {
                type: 'pie',
                margin: 40,
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Sales by Region'
            },
            tooltip: {
                pointFormat: "${point.y:,.0f}"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    depth: 35
                }
            },
            series: [{
                name: 'Regions',
                colorByPoint:true,
                data: [{
                    name: 'Northeast',
                    y: /*[[${northeastSales}]]*/ 0
                },{
                    name: 'South',
                    y: /*[[${southSales}]]*/ 0
                },{
                    name: 'Midwest',
                    y: /*[[${midwestSales}]]*/ 0
                },{
                    name: 'West',
                    y: /*[[${westSales}]]*/ 0
                }]
            }]
        });
    }
     
    function drawSalesByTypeChart() {
        var salesByTypeChart = Highcharts.chart('salesByType', {
            chart: {
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    depth: 110
                }
            },
            title: {
                text: 'Sales by Lure Type'
            },
            xAxis: {
                categories: ['May', 'June', 'July']
            },
            yAxis: {
                title: {
                    text: 'Sales (US $)'
                }
            },
            tooltip: {
                pointFormat: "${point.y:,.0f}"
            },
            plotOptions: {
                column: {
                    depth: 60,
                    stacking: true,
                    grouping: false,
                    groupZPadding: 10
                }
            },
            series: [{
                name: 'Inshore',
                data: /*[[${inshoreSales}]]*/ []
            }, {
                name: 'Nearshore',
                data: /*[[${nearshoreSales}]]*/ []
            }, {
                name: 'Offshore',
                data: /*[[${offshoreSales}]]*/ []
            }]
        });
    }
    


Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Temperature'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 200,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'temperature'
        },
        plotBands: [{
            from: 0,
            to: 120,
            color: '#DF5353' // green
        }, {
            from: 120,
            to: 160,
            color: '#DDDF0D' // yellow
        }, {
            from: 160,
            to: 200,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Temperature',
        colorByPoint: false,
        data: [ /*[[${measurement.valueNumber}]]*/ ],
        tooltip: {
            valueSuffix: ' F'
        }
    }]

},
// Add some life
function (chart) {
/*    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                newVal,
                inc = Math.round((Math.random() - 0.5) * 20);

            newVal = point.y + inc;
            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);

        }, 3000);
    }
*/    
}
);


    
    /*]]>*/
</script>

</body>
</html>