<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Brewery Application</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

   	<div align="center">
        <h2>Dashboard</h2>
    </div>

	<div class="row" style="margin-bottom:30px">
	    <div class="col-lg-4 col-md-12" style="margin-top:20px" th:each="measurement, stats : ${measurement}">
			<figure class="highcharts-figure">
		    	<div th:id="'container' + ${stats.index}"></div>
			</figure>
	    </div>
	</div>


<script th:inline="javascript">
/*<![CDATA[*/
    $(function () { 
        Highcharts.setOptions({
            lang: {
                decimalPoint: '.',
                thousandsSep: ','
            }
        });
    });
     
     
var measurements = /*[[${measurement}]]*/;    
var gaugeAtrs = /*[[${gaugeAttrs}]]*/;

for ( var i = 0; i < measurements.length; i++) {
	var chartNumber = i;
if( measurements[i].type.code == 'PH' ) {
	var chartg; 
  	chartg = "#container" + chartNumber;
    $(chartg).highcharts({
	    chart: {
	        type: 'solidgauge'
	    },	
	    title: {
	        text: measurements[chartNumber].batch.name + ' ' + measurements[chartNumber].process.name
	    },	
	    pane: {
	        center: ['50%', '85%'],
	        size: '100%',
	        startAngle: -90,
	        endAngle: 90,
	        background: {
	            backgroundColor:
	                Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
	            innerRadius: '60%',
	            outerRadius: '100%',
	            shape: 'arc'
	        }
	    },	
	    exporting: {
	        enabled: false
	    },	
	    tooltip: {
	        enabled: false
	    },
	
	    // the value axis
	    yAxis: {
	        min: gaugeAtrs[chartNumber].minValue,
        	max: gaugeAtrs[chartNumber].maxValue,
         	stops: gaugeAtrs[chartNumber].stops,
	        lineWidth: 0,
	        tickWidth: 0,
	        minorTickInterval: null,
	        tickAmount: 1,
	        title: {
	            text: 'PH',
	            y: -70
	        },
	        labels: {
	            y: 14
	        }
	    },
	    credits: {
	        enabled: false
	    },
	
	    series: [{
	        name: 'PH',
	        data: [ measurements[chartNumber].valueNumber ],
	        dataLabels: {
	            format:
	                '<div style="text-align:center">' +
	                '<span style="font-size:25px">{y}</span><br/>' +
	                '<span style="font-size:12px;opacity:0.4">PH</span>' +
	                '</div>'
	        },
	        tooltip: {
	            valueSuffix: ' PH'
	        }
	    }],
	
	    plotOptions: {
	        solidgauge: {
	            dataLabels: {
	                y: 5,
	                borderWidth: 0,
	                useHTML: true
	            }
	        }
	    }
    
	});
}
else{
	var chartg; 
  	chartg = "#container" + chartNumber;
    $(chartg).highcharts({

    chart: {
        type: gaugeAtrs[chartNumber].gaugeType,
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: measurements[chartNumber].batch.name + ' ' + measurements[chartNumber].process.name
    },

    pane: {
        startAngle: gaugeAtrs[chartNumber].startAngle,
        endAngle: gaugeAtrs[chartNumber].endAngle,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: gaugeAtrs[chartNumber].minValue,
        max: gaugeAtrs[chartNumber].maxValue,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: measurements[chartNumber].type.name + " "
        },
        plotBands: gaugeAtrs[chartNumber].plotBands
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Temperature',
        colorByPoint: false,
        data: [ measurements[chartNumber].valueNumber ],
        tooltip: {
            valueSuffix: ' F'
        }
    }]
},
// Add some life
function (chart) {
/*    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                newVal,
                inc = Math.round((Math.random() - 0.5) * 20);

            newVal = point.y + inc;
            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);

        }, 3000);
    }
*/    
});
} // if
} // for

    
    /*]]>*/
</script>

</body>
</html>