<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Measurements</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
	<h2 th:inline="text" >
   		[[${batch.name}]]
   		Measurements
	</h2>
    <div th:if="${#lists.isEmpty(measurements)}">
    	<a th:href="${'/measurement/add/' + batch.id}" class="btn btn-primary btn-lg">Add Measurement</a>
    </div>
    <div th:if="${not #lists.isEmpty(measurements)}">
        <table class="table table-striped">
    		<tr>
				<td/>
				<td/>
				<td/>
				<td/>
				<td/>
				<td/>
				<td/>
				<td/>
				<td>
					<div>
						<a th:href="${'/measurement/add/' + batch.id}" class="btn btn-primary">Add</a>
					</div>
				</td>
			</tr>				
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Value Text</th>
                <th>Batch Id</th>
                <th>Process</th>                
                <th>Type</th>
                <th>Time</th>
                <th>Synched</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="measurement : ${measurements}">
                <td th:text="${measurement.id}">Id</td>
                <td th:text="${measurement.valueNumber}">Value</td>
                <td th:text="${measurement.valueText}">valueText</td>
                <td th:text="${measurement.batch.id}">Batch Id</td>
                <td th:text="${measurement.process.code}">Process Code</td>
                <td th:text="${measurement.type.code}">Type</td>
                <td th:text="${measurement.measurementTime}">Time</td>
                <td th:text="${measurement.dbSynch}">Synched</td>
                <td><a th:href="${'/measurement/edit/' + measurement.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/measurement/delete/' + measurement.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>