<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Reset Password</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Reset Password</h2>
    <div th:if="${error}">
        <div class="alert alert-info" role="alert">
        	Password reset failed! Please enter valid User ID and new password.
        </div>
    </div>
    
    <div>
        <form class="form-horizontal" th:object="${password}" th:action="@{/passwordReset}" method="post">
            <input type="hidden" th:field="*{token}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">User Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{username}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
					<input type="text" id="pwdNew" name="pwdNew" class="form-control pwds" th:field="*{password}">
					<div class="valid-feedback">Matched</div>
					<div class="invalid-feedback">Must contain at least one number, one uppercase and lowercase letter; at least 6 or more characters</div>
                </div>
            </div>
            
			<div class="form-group">
                <label class="col-sm-2 control-label">Confirm New Password:</label>
                <div class="col-sm-10">
					<input type="text" id="cPwdId" name="cPwdId" class="form-control pwds">
					<div id="cPwdValid" class="valid-feedback">Valid</div>
					<div id="cPwdInvalid" class="invalid-feedback">Must contain at least one number, one uppercase and lowercase letter; at least 6 or more characters</div>
                </div>
			</div>
            
			<div class="col-sm-10 float-right" >
                <button type="submit" class="btn btn-outline-dark">Reset Password
					<img th:src="@{/images/save_alt-24px.svg}"/>
                </button>
            </div>
        </form>
    </div>
</div>
</body>


<script>
$('#pwdNew, #cPwdId').on('keyup', function () {
	if( $('#pwdNew').val() != '' && $('#cPwdId').val() != '' && $('#pwdNew').val() == $('#cPwdId').val() && $('#pwdNew').val().match( /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/ ) ) {
		$("#submitBtn").attr("disabled",false);
		$('#cPwdValid').show();
		$('#cPwdInvalid').hide();
		$('#cPwdValid').html('Valid').css('color', 'green');
		$('.pwds').removeClass('is-invalid')
	} else {
		$("#submitBtn").attr("disabled",true);
		$('#cPwdValid').hide();
		$('#cPwdInvalid').show();
		$('#cPwdInvalid').html('Not Valid').css('color', 'red');
		$('.pwds').addClass('is-invalid')
	}
 });
</script>

</html>