<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Processes</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
	<h2>Processes</h2>
    <th:block th:include="layout/info"></th:block>
    <div th:if="${#lists.isEmpty(processes)}">
    	<a th:href="@{/process/add}" class="btn btn-outline-dark btn-lg">Add Process
			<img th:src="@{/images/add-24px.svg}"/>
    	</a>
    </div>
    <div th:if="${not #lists.isEmpty(processes)}">
        <table class="table table-striped">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Voice Assist</th>
                <th class="d-none d-lg-block">Synched</th>
                <th></th>
                <th>
					<a th:href="@{/process/add}" class="btn btn-outline-dark">
						<img th:src="@{/images/add-24px.svg}"/>
					</a>
                </th>
                <th></th>
            </tr>
            <tr th:each="process : ${processes}">
                <td th:text="${process.code}">Code</td>
                <td th:text="${process.name}">Name</td>
                <td th:text="${process.voiceAssist}">voiceAssist</td>
                <td th:text="${process.dbSynch}" class="d-none d-lg-block">Synched</td>
                <td><a th:href="${'/process/edit/' + process.code}" class="btn btn-default">
					<img th:src="@{/images/edit-24px.svg}"/>
                </a></td>
                
				<td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${process.code}" class="btn btn-default" title="Delete" rel="tooltip">
					<img th:src="@{/images/delete_forever-24px.svg}"/>
				</a></td>    
				<td>
					<div class="modal modal-warning fade in" th:id="modal-warning+${process.code}">
				 		<div class="modal-dialog">
				 			<div class="modal-content">
				 				<div class="modal-header">
				 					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				 					<span aria-hidden="true">×</span></button>
				 					<h5 class="modal-title">Delete</h5>
				 				</div>
				 				<div class="modal-body">
				 					<h3>
				 						<p th:text="'Delete process: ' + ${process.name} + ' code: ' + ${process.code} + '?'"></p>
				 					</h3>
				 				</div> 
				 				<div class="modal-footer"> 
				 					<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
				 					<a type="button" class="btn btn-danger" th:href="${'/process/delete/' + process.code}"><i class="fa fa-check"></i>&nbsp;Yes</a>
				 				</div>
							</div>
				 		</div>
				 	</div>
				</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>