<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Processes</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(processes)}">
    	<a th:href="@{/process/add}" class="btn btn-primary btn-lg">Add Process</a>
    </div>
    <div th:if="${not #lists.isEmpty(processes)}">
        <table class="table table-striped">
    		<tr>
				<td><h2>Processes</h2></td>
				<td/>
				<td/>
				<td>
					<div>
						<a th:href="@{/process/add}" class="btn btn-primary">Add</a>
					</div>
				</td>
			</tr>				
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Synched</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="process : ${processes}">
                <td th:text="${process.code}">Code</td>
                <td th:text="${process.name}">Name</td>
                <td th:text="${process.synched}">Synched</td>
                <td><a th:href="${'/process/edit/' + process.code}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/process/delete/' + process.code}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>