<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Styles</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(styles)}">
    	<a th:href="@{/style/add}" class="btn btn-outline-dark btn-lg">
			<img th:src="@{/images/add-24px.svg}"/>Style
    	</a>
    </div>
    <div th:if="${not #lists.isEmpty(styles)}">
        <table class="table table-striped">
    		<tr>
				<td><h2>Styles</h2></td>
				<td/>
				<td/>
				<td/>
				<td/>
				<td/>
				<td>
					<div>
						<a th:href="@{/style/add}" class="btn btn-outline-dark">
							<img th:src="@{/images/add-24px.svg}"/>
						</a>
					</div>
				</td>
			</tr>				
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>BJCP Category</th>
                <th>DB Synch</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="style : ${styles}">
                <td th:text="${style.id}">Id</td>
                <td th:text="${style.name}">Name</td>
                <td th:text="${style.description}">Description</td>
                <td th:text="${style.bjcpCategory}">BJCP Category</td>
                <td th:text="${style.dbSynch}">Synched</td>
                <td><a th:href="${'/style/edit/' + style.id}" class="btn btn-default">
					<img th:src="@{/images/edit-24px.svg}"/>
                </a></td>
                <td><a th:href="${'/style/delete/' + style.id}" class="btn btn-default">
					<img th:src="@{/images/delete_forever-24px.svg}"/>
                </a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>