<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Add Style</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Add Style</h2>
    <div>
        <form class="form-horizontal" th:object="${style}" th:action="@{/style}" method="post">
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <input type="hidden" class="form-control" th:field="*{dbSynchToken}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">BJCP Category:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{bjcpCategory}" />
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-2 control-label">Synch Status:</label>
                <div class="col-sm-10">
	    			<select class="form-control" th:field="*{dbSynch}">
	    				<option th:each="dbSync : ${T(com.brewery.model.DbSync).values()}" th:value="${dbSync}" th:text="${dbSync}"></option>
	    			</select>
                </div>
			</div>            
            
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-dark">Save
						<img th:src="@{/images/save_alt-24px.svg}"/>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>