<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Style</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Edit Style</h2>
    <div>
        <form class="form-horizontal" th:object="${style}" th:action="@{/style}" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">BJCP Category:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{bjcpCategory}" />
                </div>
            </div>
            <div class="form-group form-check">
                <label class="col-sm-2 control-label">Synched:</label>
                <div class="col-sm-10">
	                <input type="checkbox" class="form-check-input" name="synched" th:checked="*{synched}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>