<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Change Password</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2 th:inline="text">Change Password for: [[${user.username}]]</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user/password}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{username}"/>
            <input type="hidden" th:field="*{roles}"/>
			<div class="form-group">
                <input type="hidden" class="form-control" th:field="*{dbSynch}"/>
			</div>            

            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" id="password" class="form-control" th:field="*{password}"/>
                </div>
            </div>
            
			<div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
					<input type="text" id="pwdId" name="pwdId" class="form-control pwds" >
					<div class="valid-feedback">Matched</div>
					<div class="invalid-feedback">Must contain at least one number, one uppercase and lowercase letter; at least 6 or more characters</div>
                </div>
			</div>
			
			<div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password:</label>
                <div class="col-sm-10">
					<input type="text" id="cPwdId" name="cPwdId" class="form-control pwds">
					<div id="cPwdValid" class="valid-feedback">Valid</div>
					<div id="cPwdInvalid" class="invalid-feedback">Must contain at least one number, one uppercase and lowercase letter; at least 6 or more characters</div>
                </div>
			</div>
			
            <div class="form-group">
                <div class="col-sm-2">
                    <button id="submitBtn" type="submit" class="btn btn-outline-dark" disabled>Save
						<img th:src="@{/images/save_alt-24px.svg}"/>
                    </button>
                </div>
            </div>

        </form>
        
	</div>
</div>


</body>



<script>

$('#pwdId, #cPwdId').on('keyup', function () {
	if( $('#pwdId').val() != '' && $('#cPwdId').val() != '' && $('#pwdId').val() == $('#cPwdId').val() && $('#pwdId').val().match( /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/ ) ) {
		document.getElementById("password").value = $('#pwdId').val();
//		$('#password').val() = $('#pwdId').val();
		$("#submitBtn").attr("disabled",false);
		$('#cPwdValid').show();
		$('#cPwdInvalid').hide();
		$('#cPwdValid').html('Valid').css('color', 'green');
		$('.pwds').removeClass('is-invalid')
	} else {
		$("#submitBtn").attr("disabled",true);
		$('#cPwdValid').hide();
		$('#cPwdInvalid').show();
		$('#cPwdInvalid').html('Not Valid').css('color', 'red');
		$('.pwds').addClass('is-invalid')
	}
 });

</script>

</html>
